{% extends 'mvitesapp/layout.html' %}

{% load static %}

{% block content %}  
<div class="container">
<p>Upload</p>
<form action="/mvitesapp/excel/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <p>
        {{ form.title.errors }}
        {{ form.title}}
    </p>

    <p>
        {{ form.input_excel.errors }}
        {{ form.input_excel}}
    </p>

    <p>
        {{ form.update.errors }}
        <label for="id_update">
            {{ form.update }}
            <span>{{ form.update.label }}</span>
        </label>
    </p>


    <input type="submit" value="Submit">
</form>
</div>
{% endblock %}