{% extends 'mvitesapp/layout.html' %}
{% load static %}s
{% block content %}  

<div style = "width: 80%" class="center-block">

        <div style="margin-left:12px;" class="section">

                <span style="font-family: 'Grand Hotel', cursive;font-size:50px">My GuestBook</span>
                <br/>
                <span style="font-size:20px;">Dashboard</span>
            
        </div>


<div class="row"style="height:60vh;z-index:100;">

    <div class="col s12 m6 l6"style="height:100%;">
        
                <div class="card" style="height:100%;">
                        <div class="card-image valign-wrapper" style="height:60%;padding-top:25px;">
                          <img id="rounded" class="center-block" src="{%static "img/firsuzy.jif" %}">
                          
                        </div>
                        <div class="card-content center" style="height:15%;">
                            {%for customer in customer%}
                          <p>Welcome, {{customer.bride}} & {{customer.groom}}.</p>
                            {% endfor %}
                        </div>
                        <div class="card-action   " style="max-height:25%;">
                          <div class="row">
                              <div class="col l6 s12">
                                <a class="valign-wrapper"><i class="material-icons medium left">insert_chart</i>Total Invites: {{guest_count}}</a> 
                                <div class="progress cyan">
                                        <div class="determinate cyan lighten-3" style="width: {{bar_totalinvites}} "></div>
                                </div>
                              </div>
                              <div class="col l6 s12 hide-on-small-only">
                                    <a class="valign-wrapper"><i class="material-icons medium left">insert_chart</i>Total Responded: {{total_responded}}</a> 
                                    <div class="progress cyan lighten-3">
                                            <div class="determinate cyan" style="width: {{bar_totalresponded}} "></div>
                                    </div>
                                </div>
                              
                          </div>
                        </div>
                </div>
        
    </div>    
    <div class="col s12 m6 l6" style="height:100%;">
            <div class="row no-pad-bot" style="height:50%;">
                    <div class="col l6 s12"style="min-height:95%;height:95%;">
                            <div class="card   valign-wrapper center"style="min-height:95%;height:95%;" >
                                    <div class="card-content black-text">
                                        <div class="valign-wrapper"><i class="material-icons large left">check</i><span id="dashfonts">Yes: {{rsvp_yes}}</span> </div>
                                        <div class="progress">
                                                <div class="determinate light-green accent-2" style="width: {{bar_yes}}"></div>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Attending<i class="material-icons right">close</i></span>
                                        {% for guest in guestbook %}
                                        {% if guest.rsvp.status == "YES" %}
                                        <p>{{guest.name}}</p>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                            </div>
                    </div>
                    <div class="col l6 s12"style="min-height:95%;height:95%;;">
                            <div class="card   valign-wrapper center"style="min-height:95%;height:95%;" >
                                    <div class="card-content black-text center-block">
                                            <div class="valign-wrapper"><i class="material-icons large left">close</i><span id="dashfonts">No: {{rsvp_no}}</span> </div> 
                                            <div class="progress">
                                                    <div class="determinate red" style="width: {{bar_no}}"></div>
                                            </div>
                                    </div>
                       
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Attending<i class="material-icons right">close</i></span>
                                        {% for guest in guestbook %}
                                        {% if guest.rsvp.status == "NO" %}
                                        <p>{{guest.name}}</p>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                            </div>
                    </div>
            </div>
                
                    
                
                <div class="row no-pad-bot" style="height:50%;">
                        <div class="col l6 s12" style="min-height:95%;height:95%;" >
                                <div class="card   valign-wrapper" style="min-height:95%;height:95%;" >
                                        <div class="card-content black-text">
                                                <div class="valign-wrapper"><i class="material-icons large left">warning</i><span id="dashfonts">Maybe: {{rsvp_maybe}}<br> No Reply: {{ rsvp_unconfirmed }}</span> </div> 
                                                <div class="progress">
                                                        <div class="determinate orange" style="width: {{bar_unconfirmed}}"></div>
                                                        <div class="determinate red" style="width: {{ bar_maybe }}"></div>
                                                </div>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">Attending<i class="material-icons right">close</i></span>
                                            {% for guest in guestbook %}
                                            {% if guest.rsvp.status == "YES" %}
                                            <p>{{guest.name}}</p>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                </div>
                        </div>
                        <div class="col l6 s12" style="min-height:95%;height:95%;">
                                <div class="card   valign-wrapper " style="min-height:95%;height:95%;">
                                        <div class="card-content black-text center-block">
                                                <div class="valign-wrapper"><i class="material-icons large left">people</i>
                                                    <span id="dashfonts">Total Attending: <br>{{ guest_attending.total }} / {{guest_invited.total}}</span>  
                                                </div> 
                                                <div class="progress white">
                                                        <div class="determinate black" style="width: {{bar_attending}}"></div>
                                                </div>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">Attending<i class="material-icons right">close</i></span>
                                            {% for guest in guestbook %}
                                            {% if guest.rsvp.status == "NO" %}
                                            <p>{{guest.name}}</p>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                        </div>
                </div>
    </div>

</div>

<div style="z-index:90; width:98%"class="centered center-block">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header valign-wrapper">

                <div class = "center-block"><i class="material-icons">find_in_page</i>Filter</div>

            </div>

            <div class="collapsible-body">
                <div class="row">
                    <div class="col l2">Group
                        <div class="divider"></div>
                        {% for group in group %}
                            <p>
                                <label>
                                  <input id="{{group.name}}_checkbox" class="filled-in" type="checkbox" onclick="groupfilter()" checked="checked" />
                                  <span>{{group.name}}</span>
                                </label>
                            </p>
                        {% endfor %}
                    </div>
                    <div class="col l2">RSVP Status
                            <div class="divider"></div>
                            <p>
                                    <label>
                                      <input id="Yes_checkbox" class="filled-in" type="checkbox" onclick="rsvpstatusfilter()" checked="checked" />
                                      <span>Yes</span>
                                    </label>
                            </p>
                            <p>
                                    <label>
                                      <input id="No_checkbox" class="filled-in" type="checkbox" onclick="rsvpstatusfilter()" checked="checked" />
                                      <span>No</span>
                                    </label>
                            </p>
                            <p>
                                    <label>
                                      <input id="Maybe_checkbox" class="filled-in" type="checkbox" onclick="rsvpstatusfilter()" checked="checked" />
                                      <span>Maybe</span>
                                    </label>
                            </p>
                            <p>
                                    <label>
                                      <input id="Unconfirmed_checkbox" class="filled-in" type="checkbox" onclick="rsvpstatusfilter()" checked="checked" />
                                      <span>Unconfirmed</span>
                                    </label>
                            </p>
                    </div>
                    <div class="col l2">No of attendees
                            <div class="divider"></div>
                            {% for attending_no in attending_list %}
                            <p>
                                <label>
                                  <input class="filled-in" type="checkbox" />
                                  <span>{{attending_no.no_of_guests_attending}}</span>
                                </label>
                            </p>
                        {% endfor %}
                    </div>
                    <div class="col l2">No of invitees
                            <div class="divider"></div>
                            {% for inviting_no in inviting_list %}
                            <p>
                                <label>
                                  <input class="filled-in" type="checkbox" />
                                  <span>{{inviting_no.no_of_guests_invited}}</span>
                                </label>
                            </p>
                        {% endfor %}
                        </div>
                    <div class="col l4 ">
                                        <div class="input-field valign-wrapper">
                                          <i class="material-icons prefix">search</i>
                                          <input type="text" id="autocomplete-input" class="autocomplete">
                                          <label for="autocomplete-input">Autocomplete</label>
                                        </div>
                    </div>
                </div>
        </li>
    </ul>
</div>

<div style="height:20vh;z-index:90; width:98%"class="centered center-block">
    <ul class="collapsible">
        {% for group in group %}
        {% if group.id == 1 %}
        <li id="{{group.name}}" class="active">
        {% else %}
        <li id="{{group.name}}">
        {%endif%}
            <div class="collapsible-header" ><i class="material-icons">filter_drama</i> {{group.name}}: {{group.total}}/{{group.total_invite}}</div>
            <div class="collapsible-body">
                <table id="guestdetailsfonts">
                    <thead>
                    <tr id="guestheaderfonts">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact number</th>
                        <th>No. of Attendees</th>
                        <th>No. of Invites given</th>
                        <th>RSVP status</th>
                        <th>Send E-invite</th>
                        <th>Checklist</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for guest in guestbook %}
                    {% if guest.group == group %}
                        <tr id="guestdetailsfonts">
                            <td>{{guest.name}}</td>
                            <td>{{guest.email}}</td>
                            <td>{{guest.contact_number}}</td>
                            <td>{{guest.no_of_guests_attending}}</td>
                            <td>{{guest.no_of_guests_invited}}</td>
                            <td class="rsvp_{{guest.rsvp}}">{{guest.rsvp}}</td>
                            <td> Send E-invite </td>
                            <td>Checklist</td>
                        </tr>
                    {% endif %}    
                    {% endfor%}

                    </tbody>
                </table>
            </div>
        </li>
        {% endfor%}
    </ul>
</div>

</div>

<script>

    function groupfilter() {
        {% for group in group %}
        var firstgroup = document.getElementById("{{group.name}}_checkbox").checked ? document.getElementById("{{group.name}}").style.display = "block" : document.getElementById("{{group.name}}").style.display = "none";
        {% endfor %}
    }

    function rsvpstatusfilter() {
        
        var yes = document.getElementById("Yes_checkbox");
        var no = document.getElementById("No_checkbox");
        var maybe = document.getElementById("Maybe_checkbox");
        var unconfirmed = document.getElementById("Unconfirmed_checkbox");

        if (yes.checked == true) {
            
            var i;
            var yes_array = document.getElementsByClassName("rsvp_YES");
        
            for (i = 0; i < yes_array.length ; i++ ) {
                yes_array[i].parentNode.style.display = "block";
            
            };
            
        } 
        
        else {
            var i;
            var yes_array = document.getElementsByClassName("rsvp_YES");
            for (i = 0; i < yes_array.length; i++ ){
                yes_array[i].parentNode.style.display = "none";
            };
        
        };
        
    
    }
  
</script>
{% endblock %}