{% extends 'mvitesapp/layout.html' %}
{% load static %}

{% block content %}   

<div style="background-image: url({% static "img/background.jpg" %});background-size:cover;height:700px" class="valign-wrapper">
    <div class="center-block fade-in four">
        <img class="responsive-img"src="{%static "img/fir & suzy.png" %}" alt="">
        <br/>
        <div class="center-align">
                <a class="waves-effect waves-light btn-small fade-in five"><i class="material-icons left">cloud</i>View Wishbook</a>
        </div>
    </div>
    
    
</div>

{% endblock %}
