{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static "css\materialize.min.css" %} " media="screen,projection"/>
<link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!------------------------------------------------------------------------------------------------------------------------------->

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    <title>{{title}}</title>
</head>
<body>
<header>
        <div class="navbar-fixed fade-in one">
                <nav>
                    <div class="nav-wrapper" style="background: linear-gradient( MediumAquamarine,LightSeaGreen);">
                                <a href="#" class="brand-logo center fade-in two" style="font-family: 'Grand Hotel', cursive;">m-vitesapp</a>
                                <ul id="nav-mobile" class="left">
                                <li><a data-target="slide-out" class="sidenav-trigger show-on-large fade-in three" href="#"><i class="material-icons">menu</i></a></li>
                                </ul>
                    </div> 
                </nav>
            </div> 
                <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                    <div class="background">
                        <img src="{%static "img/office.jpg" %}">
                    </div>
                    {% for customer in customer %}
                    <a href="#user"><img class="circle" width="150px" height="150px" src="{%static "img/firsuzy.jif" %}"></a>
                    <a href="#name"><span class="white-text name">
                            {{customer.bride}} & {{customer.groom}}
                            </span></a>
                    <a href="#email"><span class="white-text email">{{customer.customeremail}}</span></a>
                    </div></li>
                    <li><a class="subheader">Admin</a></li>
                    <li><a class="waves-effect" href="#!"><i class="material-icons">account_circle
                        </i>Login</a></li>
                    <li><a class="subheader">View</a></li>
                    <li><a class="waves-effect" href="{% url 'index'%}"><i class="material-icons">home</i>Cover Page</a></li>
                    <li><a class="waves-effect" href="{%  url 'guestbook'%}"><i class="material-icons">art_track</i>Guestbook</a></li>
                    <li><a class="waves-effect" href="#!"><i class="material-icons">cloud</i>Wishbook</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">m-vitesapp by mnoobs.com</a></li>
                    <li><a class="waves-effect" href="#!">Get your own Mvites!<i class="material-icons">add_shopping_cart</i></a></li>
                    {% endfor %}
                </ul>
                
</header>
<div class="fade-in one">

  
{% block content %}





{% endblock %}

</div>

<!-- --------------------------------------------------------------------------------------------------------------------------------->
<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src= "{% static "js\materialize.min.js" %} "></script> 
<script type="text/javascript" src= "{% static "js\init.js" %} "></script> 
<!-- --------------------------------------------------------------------------------------------------------------------------------->   
</body>
</html>

