{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static "css\materialize.min.css" %} " media="screen,projection"/>
<link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!------------------------------------------------------------------------------------------------------------------------------->

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    <title>{{title}}</title>
</head>
<body>
<h3>mvites guestbook</h3>
<nav><ul><li><a href="{% url 'excel' %}">Admin</a></li></ul></nav>
<hr>  
{% block content %}





{% endblock %}
<hr>
<footer>
    Footer
</footer>

<!-- --------------------------------------------------------------------------------------------------------------------------------->
<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src= "{% static "js\materialize.min.js" %} "></script> 
<script type="text/javascript" src= "{% static "js\init.js" %} "></script> 
<!-- --------------------------------------------------------------------------------------------------------------------------------->   
</body>
</html>

